**/.next
**/.nx/cache
**/build
**/coverage
**/dist
**/dist-ts
**/generated
pnpm-lock.yaml
**/snapshots
**/.vercel
**/.vinxi
**/.output
**/node_modules
node_modules

**/test-results
/.nx/workspace-data
